
data/._GAMETES
data/._GEO datasets
data/._GWAS
data/._SyntheticDatasets
data/GAMETES/._GAMETES_Epistasis_2-Way_1000atts_0.4H_EDM-1_EDM-1_1.tsv
data/GAMETES/._GAMETES_Epistasis_2-Way_20atts_0.1H_EDM-1_1.tsv
data/GAMETES/._GAMETES_Epistasis_2-Way_20atts_0.4H_EDM-1_1.tsv
data/GAMETES/._GAMETES_Epistasis_3-Way_20atts_0.2H_EDM-1_1.tsv
data/GAMETES/._GAMETES_Heterogeneity_20atts_1600_Het_0.4_0.2_50_EDM-2_001.tsv
data/GAMETES/._GAMETES_Heterogeneity_20atts_1600_Het_0.4_0.2_75_EDM-2_001.tsv
data/GAMETES/GAMETES_Epistasis_2-Way_1000atts_0.4H_EDM-1_EDM-1_1.tsv
data/GAMETES/GAMETES_Epistasis_2-Way_20atts_0.1H_EDM-1_1.tsv
data/GAMETES/GAMETES_Epistasis_2-Way_20atts_0.4H_EDM-1_1.tsv
data/GAMETES/GAMETES_Epistasis_3-Way_20atts_0.2H_EDM-1_1.tsv
data/GAMETES/GAMETES_Heterogeneity_20atts_1600_Het_0.4_0.2_50_EDM-2_001.tsv
data/GAMETES/GAMETES_Heterogeneity_20atts_1600_Het_0.4_0.2_75_EDM-2_001.tsv
data/GEO datasets/._.DS_Store
data/GEO datasets/._Breast_GSE22820_processed.csv
data/GEO datasets/._Breast_GSE42568_processed.csv
data/GEO datasets/._Breast_GSE70947_processed.csv
data/GEO datasets/._Colorectal_GSE44076_processed.csv
data/GEO datasets/._Leukemia_GSE63270_processed.csv
data/GEO datasets/._Liver_GSE14520_U133A_processed.csv
data/GEO datasets/._Liver_GSE76427_processed.csv
data/GEO datasets/._Lung_GSE19804_processed.csv
data/GEO datasets/._Prostate_GSE6919_U95Av2_processed.csv
data/GEO datasets/._Prostate_GSE6919_U95B_processed.csv
data/GEO datasets/._Prostate_GSE6919_U95C_processed.csv
data/GEO datasets/._Renal_GSE53757_processed.csv
data/GEO datasets/._Throat_GSE42743_processed.csv
data/GEO datasets/.DS_Store
data/GEO datasets/Breast_GSE22820_processed.csv
data/GEO datasets/Breast_GSE42568_processed.csv
data/GEO datasets/Breast_GSE70947_processed.csv
data/GEO datasets/Colorectal_GSE44076_processed.csv
data/GEO datasets/Leukemia_GSE63270_processed.csv
data/GEO datasets/Liver_GSE14520_U133A_processed.csv
data/GEO datasets/Liver_GSE76427_processed.csv
data/GEO datasets/Lung_GSE19804_processed.csv
data/GEO datasets/Prostate_GSE6919_U95Av2_processed.csv
data/GEO datasets/Prostate_GSE6919_U95B_processed.csv
data/GEO datasets/Prostate_GSE6919_U95C_processed.csv
data/GEO datasets/Renal_GSE53757_processed.csv
data/GEO datasets/Throat_GSE42743_processed.csv
data/GWAS/._.DS_Store
data/GWAS/._WithImputation
data/GWAS/.DS_Store
data/GWAS/WithImputation/._AllSamples_Imputation.bed
data/GWAS/WithImputation/._AllSamples_Imputation.bim
data/GWAS/WithImputation/._AllSamples_Imputation.fam
data/GWAS/WithImputation/AllSamples_Imputation.bed
data/GWAS/WithImputation/AllSamples_Imputation.bim
data/GWAS/WithImputation/AllSamples_Imputation.fam
data/SyntheticDatasets/._CorrAL100.mat
data/SyntheticDatasets/._Led100n0.mat
data/SyntheticDatasets/._Led25n0.mat
data/SyntheticDatasets/._Monk3.mat
data/SyntheticDatasets/._Parity3+3.mat
data/SyntheticDatasets/._SD1.mat
data/SyntheticDatasets/._SD2.mat
data/SyntheticDatasets/._SD3.mat
data/SyntheticDatasets/._XOR100.mat
data/SyntheticDatasets/CorrAL100.mat
data/SyntheticDatasets/Led100n0.mat
data/SyntheticDatasets/Led25n0.mat
data/SyntheticDatasets/Monk3.mat
data/SyntheticDatasets/Parity3+3.mat
data/SyntheticDatasets/SD1.mat
data/SyntheticDatasets/SD2.mat
data/SyntheticDatasets/SD3.mat
data/SyntheticDatasets/XOR100.mat
